<h1>Admin > Dashboard</h1>
<p>Admin modifiable features:</p>
<div class="well">
<%= link_to 'See all categories', [:admin, :categories], class: 'btn btn-info' %>
</div>
  
<div class="well">
<%= link_to 'See all products', [:admin, :products], class: 'btn btn-info' %>
</div>