  
<section class="empty">
<h1>Your cart is empty.</h1>
<br/>
<%= link_to 'Return Home to Continue Shopping.', :root %>
<%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</section>